<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Crear un nuevo producto</title>
</head>
<body>
    <%- include('../parcials/header') %>
    <main>
        
    </main>
    <%- include('../parcials/footer') %>
    <script src="/script/script.js"></script>
    <script src="/script/footer.js"></script>
</body>
</html>