<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
    <%- include('../parcials/header') %>
    <main class="main-crear-producto">
        <div class="form-container">
            <div class="form-content">
                <h2>CREAR PRODUCTO</h2>

                <% if(locals && locals.errors){console.log(errors)} %>
                <form id="create-product" action="" method="POST" enctype="multipart/form-data">
                    <label for="product-name">Nombre del producto: </label>
                    <input type="text" name="name" id="product-name" autofocus>
                 
                    <label for="product-price">Precio</label>
                    <input type="number" min="0.00" max="1000000.00" step="0.01" name="price" id="product-price" placeholder="Ej. 4200.99">
                    
                    <label for="product-stock">Descuento: </label>
                    <input type="text" name="on_sale" id="product-stock" autofocus >
                    
                    <label for="product-desc">Descripción</label>
                    <textarea maxlength="500" name="description" id="product-desc" cols="60" rows="5" placeholder="Descripción del producto (Hasta 500 caracteres)"></textarea>
        


                    <input type="file" multiple name="image" id="product-image">

                    
                    <span>Genero</span>
                    <div class="contenedor-categorias">
                        
                        <input type="radio" name="gender" id="product-c-mujer" value="1">
                        <label for="product-c-mujer">MUJER</label>
                        
                        <input type="radio" name="gender" id="product-c-hombre" value="2">
                        <label for="product-c-hombre">HOMBRE</label>
                        
                        <input type="radio" name="gender" id="product-c-unisex" value="3">
                        <label for="product-c-unisex">UNISEX</label>

                    </div> 
                    <span>Marca</span>
                    <div class="contenedor-marcas">

                        <input type="radio" name="brand" id="product-c-nike" value="1" >
                        <label id="product-m-nike" for="product-c-nike" >NIKE</label>
                        
                        <input type="radio" name="brand" id="product-c-adidas" value="2" >
                        <label id="product-m-adidas" for="product-c-adidas" >ADIDAS </label>
                        
                        <input type="radio" name="brand" id="product-c-puma" value="3" >
                        <label id="product-m-puma" for="product-c-puma" >PUMA </label>
                        
                        <input type="radio" name="brand" id="product-c-newbalance" value="4">
                        <label id="product-m-newbalance" for="product-c-newbalance" >NEW BALANCE </label>
                        
                    </div>
                        
                    <span>Categoría</span>
                    <div class="contenedor-categorias">    
                        <label for="product-c-tennis">TENNIS 
                            <input type="checkbox" name="category" id="product-c-tennis" value="1">
                        </label>
                        

                        <label for="product-c-running">RUNNING 
                            <input type="checkbox" name="category" id="product-c-running" value="2">
                        </label>
                        

                        <label for="product-c-football">FOOTBALL 
                            <input type="checkbox" name="category" id="product-c-football" value="3">
                        </label>
                        

                        <label for="product-c-volley">VOLLEY 
                            <input type="checkbox" name="category" id="product-c-volley" value="4">
                        </label>

                        <label id="product-m-collection" for="product-c-collection" >COLLECTION 
                            <input type="checkbox" name="category" id="product-c-collection" value="5">
                        </label>
                        

                    </div>

                    <span>Colores</span>
                    <div class="contenedor-colores">
                        
                        <label for="product-c-rojo" class="rojo">
                            <input type="checkbox" name="colors" id="product-c-rojo" value="1">
                        </label>
                        
                        
                        <label for="product-c-azul" class="azul">
                            <input type="checkbox" name="colors" id="product-c-azul" value="2">
                        </label>
                        
                        
                        <label for="product-c-amarillo" class="amarillo">
                            <input type="checkbox" name="colors" id="product-c-amarillo" value="3">
                        </label>
                        
                        <label for="product-c-verde" class="verde">
                            <input type="checkbox" name="colors" id="product-c-verde" value="4">
                        </label>
                        
                        
                        <label for="product-c-negro" class="negro">
                            <input type="checkbox" name="colors" id="product-c-negro" value="5">
                        </label>
                        
                        <label for="product-c-white" class="white">
                            <input type="checkbox" name="colors" id="product-c-white" value="6">
                        </label>
                        
                        <label for="product-c-gris" class="gris">
                            <input type="checkbox" name="colors" id="product-c-gris" value="7">
                        </label>
                        
                    </div>
                    
                    <span>Talles</span>
                    <div class="contenedor-talles">
                        
                        <label for="product-t-35" class="size">35
                            <input type="checkbox" name="sizes" id="product-t-35" value="1">
                        </label>
                        
                        <label for="product-t-36" class="size">36
                            <input type="checkbox" name="sizes" id="product-t-36" value="2">
                        </label>
                        
                        <label for="product-t-37" class="size">37
                            <input type="checkbox" name="sizes" id="product-t-37" value="3">
                        </label>
                        
                        <label for="product-t-38" class="size">38
                            <input type="checkbox" name="sizes" id="product-t-38" value="4">
                        </label>
                        
                        <label for="product-t-39" class="size">39
                            <input type="checkbox" name="sizes" id="product-t-39" value="5">
                        </label>
                        
                        <label for="product-t-40" class="size">40
                            <input type="checkbox" name="sizes" id="product-t-40" value="6">
                        </label>
                        
                    </div>
                    

                    <button type="submit">Agregar producto</button>
                </form>
            </div>
        </div>
        
    </main>
    <%- include('../parcials/footer') %>
    <script src="/script/script.js"></script>
    <script src="/script/product.js"></script>
    <script src="/script/footer.js"></script>
</body>
</html>