<!DOCTYPE html>
<html lang="en">
<%- include('../parcials/head') %>
<body>
    <%- include('../parcials/header') %>
    <main class="main-crear-producto">
        <div class="form-container">
            <div class="form-content">
                <h2>CREAR PRODUCTO</h2>
                <form id="create-product" action="" method="POST">
                    <label for="product-name">Nombre del producto: </label>
                    <input type="text" name="name" id="product-name" autofocus>

                    <label for="product-price">Precio</label>
                    <input type="number" min="0.00" max="1000000.00" step="0.01" name="price" id="product-price" placeholder="Ej. 4200.99">
        
                    <label for="product-desc">Descripción</label>
                    <textarea maxlength="500" name="description" id="product-desc" cols="60" rows="5" placeholder="Descripción del producto (Hasta 500 caracteres)"></textarea>
        
                    <input type="file" name="image" id="product-image">
        
                    <span>Categoría</span>
                    <div class="contenedor-categorias">

                        <label for="product-c-mujer">MUJER 
                            <input type="checkbox" name="gender" id="product-c-mujer" value="mujer">
                        </label>
                        

                        <label for="product-c-hombre">HOMBRE 
                            <input type="checkbox" name="gender" id="product-c-hombre" value="hombre">
                        </label>
                        

                        <label for="product-c-tennis">TENNIS 
                            <input type="checkbox" name="category" id="product-c-tennis" value="tennis">
                        </label>
                        

                        <label for="product-c-running">RUNNING 
                            <input type="checkbox" name="category" id="product-c-running" value="running">
                        </label>
                        

                        <label for="product-c-football">FOOTBALL 
                            <input type="checkbox" name="category" id="product-c-football" value="football">
                        </label>
                        

                        <label for="product-c-volley">VOLLEY 
                            <input type="checkbox" name="category" id="product-c-volley" value="volley">
                        </label>
                        

                    </div>
                    
                    <span>Colores</span>
                    <div class="contenedor-colores">

                        <label for="product-c-rojo" class="rojo">
                            <input type="checkbox" name="color" id="product-c-rojo" value="rojo">
                        </label>
                        

                        <label for="product-c-azul" class="azul">
                            <input type="checkbox" name="color" id="product-c-azul" value="azul">
                        </label>
                        

                        <label for="product-c-amarillo" class="amarillo">
                            <input type="checkbox" name="color" id="product-c-amarillo" value="amarillo">
                        </label>
                        

                        <label for="product-c-negro" class="negro">
                            <input type="checkbox" name="color" id="product-c-negro" value="negro">
                        </label>
                        

                        <label for="product-c-verde" class="verde">
                            <input type="checkbox" name="color" id="product-c-verde" value="verde">
                        </label>
                        

                        <label for="product-c-gris" class="gris">
                            <input type="checkbox" name="color" id="product-c-gris" value="gris">
                        </label>
                        
                    </div>
                    
                    <span>Talles</span>
                    <div class="contenedor-talles">

                        <label for="product-t-35" class="size">35
                            <input type="checkbox" name="size" id="product-t-35" value="35">
                        </label>

                        <label for="product-t-36" class="size">36
                            <input type="checkbox" name="size" id="product-t-36" value="36">
                        </label>

                        <label for="product-t-37" class="size">37
                            <input type="checkbox" name="size" id="product-t-37" value="37">
                        </label>

                        <label for="product-t-38" class="size">38
                            <input type="checkbox" name="size" id="product-t-38" value="38">
                        </label>

                        <label for="product-t-39" class="size">39
                            <input type="checkbox" name="size" id="product-t-39" value="39">
                        </label>

                        <label for="product-t-40" class="size">40
                            <input type="checkbox" name="size" id="product-t-40" value="40">
                        </label>

                    </div>
                    
                   
                    
                    <button type="submit">Agregar producto</button>
                </form>
            </div>
        </div>
        
    </main>
    <%- include('../parcials/footer') %>
    <script src="/script/script.js"></script>
    <script src="/script/product.js"></script>
    <script src="/script/footer.js"></script>
</body>
</html>