*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilos Generales*/

a{
    text-decoration: none;
}


/*Header*/

/*Top Header*/

/*Main header mobile*/

.main-header {
    z-index: 999;
    position: sticky;
    top: 0;
    padding: 0 1rem;
    background-color: #0C0C0C;
    min-height: 10vh;
}

.container {
    display: flex;
    min-height: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    /* margin-top: 5px; */
    }
    
    .container i {
    color:whitesmoke;
    font-size: 24px;
    }

    .logo {
        /* position: absolute; */
        text-align: center;
        width: 80%;
        /* left: 10%;
        top: -14px; */
    }
    .container .logo img{
        /* width: 124px; */
        height: 10vh;
    }
  
    /*Navegador menu*/  
.menu{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: -100vw;
    transition: all ease 750ms;
    width: 100vw;
    height: 90vh;
    background-color: #0C0C0C;
}

.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    padding: 0 1.5rem;
}

.main-menu a{ 
    width: 100%;
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center;
    line-height: 14vh;
    border-bottom: 0.5px #ccc solid;
}

.main-menu a:nth-child(5){ 
    border: none;
}

    /*Profile menu*/
.profile-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0C0C0C;
    height: 20%;
}

.btn-pmenu{
    background-color: #3A3636;
    text-align: center;
    line-height: 9vh;
}

/*Icono*/
.btn-pmenu i {
    color: whitesmoke;
    font-size: 1.5rem;
    padding-right: 3%;
}
/*Letra*/
.btn-pmenu span {
    color: whitesmoke;
    font-size: 1rem;
}

.profile-menu a:nth-child(1){
    border-bottom: 1px #0C0C0C solid ;
}


/*Top header Desktop*/


.top-header{
    display: none;
    z-index: 9;
}

/*Main Header Desktop*/


.container-desktop{
    display: none;
}

.container-desktop i{
    font-size: 1.3rem;
    color: whitesmoke;
}

.container-desktop .right-mainheader{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.logo-completo{
    position: absolute;
    align-self: flex-start;
    width: 19%;
    left: 1%;
    top: -10px;
}

.search-desktop{
    position: relative;
    margin-right: 1rem;
}

.search-desktop input{
    padding: 4px;
    border: 0px;
    border-radius: 2px;
}
.search-desktop i{
    position: absolute;
    top: 18%;
    right: 1%;
    font-size: 1rem;
    color: #0C0C0C;
    background-color: white;
}

.btn-cart i {
    cursor: pointer;
}
.btn-cart i:hover {
    color: #ffe512;
}


/*Banner Cart*/

.banner-cart{
    width: 100%;
    height: 60px;
    background-image: url("../img/banner-hombre-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*Main*/

.main-product-cart{
    padding: 0 10px;
    max-width:1024px;
    margin: 0 auto;
}

/*Product Cart*/


.resumen-carrito{
    width: 100%;
}

    .item-container{
        display: flex;
        border: 1px solid #CCC;
        border-radius: .5rem;
        margin-bottom: 1rem;
        padding: 1rem 0 1rem 10px;
    }
    .item-container:hover{
        box-shadow: 0px 0px 10px 1px rgba(120,120,120,0.4);
    }

        .item-container img{
            width: 4rem;
            border-radius: 3px;
        }

        .item-cart{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 90%;
        }

            .item-cart .item-detail-container{
                display: flex;

            }
          
                .item-detail{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0 5px;
                }    
                    .item-detail .item-name{
                        font-weight: bold;
                        font-size: 1.2rem;
                    }

                    .item-detail .item-size{
                        font-size: 0.8rem;
                    }


            .item-value{
                display:flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 0.8rem;
                padding-right: 10px;
               
            }

                .item-value .precio-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.2rem;
                }
                    .item-value .precio-item .item-price{
                        font-size: .8rem;
                        font-weight: bold;
                        color: #3a3636;
                    }

              
                .item-value .cantidad-item input{
                    border: none;
                    width: 1.5rem;
                    height: 2.5rem;
                    text-align: center;
                    padding: 5px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }


                .item-value .subtotal-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                    .item-value .subtotal-item .item-subtotal{
                        font-size: .8rem;
                        font-weight: bold;
                        color: #3a3636;
                    }



        .delete-item {
            display: flex;
            width: 10%;
            justify-content: center;
            align-items: center;
            border-left: 1px solid #ccc;
            cursor: pointer;
        }
        .delete-item:hover{
            color: rgb(184, 0, 0);
            font-size: 1.2rem;
        }


@media only screen and (min-width: 1024px){

    /*Top header*/

    .top-header{
        display: block;
        width: 100%;
        background-color: #3A3636;
    }

    .container-top {
        display: flex;
        justify-content: flex-end;
        max-width: 1024px;
        margin: 0 auto;
    }
    
    .right-top-header a{
        font-size: 1rem;
        color: whitesmoke;
        text-decoration: none;
        margin-left: 10px;
        padding-left: 10px;
    }    

    .right-top-header a.border-line{
        
        border-left: whitesmoke 1.5px solid;
    

    }

    /*Main header*/
    .main-header{
        min-height: 0;
        padding: 8px 16px 8px 16px;
    }
    
    .container{
        display: none;
    }

    .container-desktop{
        position: relative;
        display: flex;
        justify-content: flex-end;
        max-width: 1024px;
        margin: 0 auto;
        padding: 1.5rem 0;
    }

    .menu-desktop{
        align-self: center;
        width: 50%;
    }
    
    .main-menudesktop{
        display: flex;
        justify-content: space-around;
        
    }

    .main-menudesktop a{
        text-decoration: none;
        color: whitesmoke;
        padding: 8px 12px;
        border: 1px solid #0C0C0C;
        border-radius: 3px;
        font-size: 1.3rem;
    }
    
    .main-menudesktop a:hover{
        color: #0C0C0C;
        background-color: #ffe512;
        border-color:#3a3636;
    }

    /*Main cart*/

    .item-cart{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item-detail-container,
    .item-value{
        width: 40%;
        justify-content: space-around;
    }

    .item-container img{
        width: 8rem;
    }

    .item-detail{
        justify-content: center;
        line-height: 1.5rem;
    }

    .item-value .cantidad-item input{
        width: 3rem;
    }
}

















/* ESTILOS FOOTER */
footer{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: #0c0c0c;
    color: whitesmoke;
}

footer .contenedor-secciones{
    display: flex;
    flex-direction: column;
}

footer .contenedor-secciones .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #3a3636;
}

footer .contenedor-secciones .categorias-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 24px;
}

footer .contenedor-secciones .content .categorias-footer h3{
    margin: 30px;
    flex-grow: 1;
}

footer .contenedor-secciones .content .categorias-footer .fa-hands-helping { 
    display:none; 
}  

footer .contenedor-secciones .content .categorias-footer .fa-shopping-bag { 
    display:none; 
}  

footer .contenedor-secciones .content .categorias-footer .fa-envelope { 
    display:none; 
}  

footer .contenedor-secciones .content .categorias-footer .fa-angle-down { 
    font-size:20px; 
} 

footer .contenedor-secciones .content p{
    display: none;
    padding: 0 30px;
    text-align: justify;
    color: rgba(255, 229, 18, 0.7);
}


footer .contenedor-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

footer .contenedor-redes .titulo-redes{
    display: none;
    font-size: 18px;
    color: whitesmoke;
}

footer .contenedor-redes p{
    font-size: 16px;
    color: rgba(255, 229, 18, 0.4);
}

footer .contenedor-redes .contenedor-iconos i{
    margin-right: 10px;
    font-size: 25px;
}

/*FOOTER TABLETS*/
@media(min-width:768px) and (max-width:1023px){
    footer{
        font-size: 20px;
    }

    footer .content .categorias-footer{
        margin: 6px 80px;
    }

    footer .content .categorias-footer i{
        font-size: 24px;
    }

    footer .contenedor-redes .contenedor-iconos i {
        font-size: 30px;
    }
}

/*FOOTER ESCRITORIO*/
@media(min-width: 1024px){
    footer .contenedor-secciones{
        display: flex;
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
        margin-top: 2rem;
    }


    footer .contenedor-secciones .content{
        border-left: solid 1px #3a3636;
        border-bottom: none;
    }

    footer .contenedor-secciones .noborderleft{
        border-left: none;
    }

    footer .contenedor-secciones .content .categorias-footer{
        display: grid;
        grid-template-columns: repeat(2, auto);
        /*grid-template-rows: repeat(2, auto);*/
        grid-template-rows: 60px auto;
        align-items: baseline;
        text-align: center;
    }

    footer .contenedor-secciones .content .categorias-footer .fa-hands-helping { 
        display:block; 
    }  

    footer .contenedor-secciones .content .categorias-footer .fa-shopping-bag { 
        display:block; 
    }  

    footer .contenedor-secciones .content .categorias-footer .fa-envelope { 
        display:block; 
    }  

    footer i.fas.fa-angle-down.desplegable { 
        display:none;     
    } 

    footer .contenedor-secciones .content p{
        display: block !important;
    }

    footer .contenedor-redes{
        border-top: solid 1px #3a3636;
        max-width: 1024px;
        margin: 0 auto;
        width: 100%;
        margin-top: 2rem;
        padding-top: 2rem;
    }

    footer .content .categorias-footer i{
        pointer-events: none;
    }
}

/*ESTILOS DEL HOME*/
.main-index{
    max-width: 1024px; 
    /*margin: 0 auto;*/
    width: 100vw;
    margin: 0;
}

.main-index .contenedor-imagenes-boton{
    position: relative;
}

.main-index .contenedor-imagenes-boton .imagenes{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: "imagengrande imagenpequeniasuperior"
                            "imagengrande imagenpequeniainferior";
}

.main-index .contenedor-imagenes-boton .imagenes .imagen-principal{
    display: grid;
    grid-area: imagengrande;
    width: 50vw;
}

.main-index .contenedor-imagenes-boton .imagenes .imagenes-secundarias{
    display: grid;
    width: 50vw;
    height: 100%;
}

.main-index .contenedor-imagenes-boton .imagenes .imagenes-secundarias.imagen-superior{
    grid-area: imagenpequeniasuperior;
}

.main-index .contenedor-imagenes-boton .imagenes .imagenes-secundarias.imagen-inferior{
    grid-area: imagenpequeniainferior;
}

.main-index .contenedor-imagenes-boton .contenedor-boton-shop-now-icono{
    position: absolute;
    /*width: 30vw;
    height: 8vh;
    top: 42%;
    left: 35%;*/
    top: calc( 50% - 3vh);
    left: calc( 50% - 10vh);
}

.main-index .contenedor-imagenes-boton .contenedor-boton-shop-now-icono .boton-shop-now{
    position: relative;
    position: relative;
    width: 120px;
    height: 40px;
    border: none;
    text-align: inherit;
    padding: 0 15px;
    font-weight: bold;
    border: solid;
    border-radius: 50px;
    /* width: 30vw; */
    /* height: 8vh; */
    background: rgba(255, 229, 18, 0.8);

}

.main-index .contenedor-imagenes-boton .contenedor-boton-shop-now-icono i{
    position: absolute;
    top: 25%;
    right: 10%;
    font-size: 1.2rem;
}

.main-index .contenedor-seccion-deporte{
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(2, auto);
}

.main-index .contenedor-seccion-deporte article{
    display: grid;
    grid-template-rows: auto auto;
    margin: 10%;
    position: relative;
}

.main-index .contenedor-seccion-deporte article img{
    margin: 0 auto;
    width: 80%;
}

.main-index .contenedor-seccion-deporte article .btn-article-deporte{
    width: 100px;
    position: absolute;
    right: calc(50% - 50px);
    top: calc(100% - 30px);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 5px;
    background: rgba(255, 229, 18, 0.8);
}


/*ESTILOS DEL PRODUCTCART*/

/*ESTILOS DEL PRODUCT DETAIL*/

/*ESTILOS DEL SHOP*/

/*ESTILOS DEL LOGIN*/

/*ESTILOS DEL REGISTER*/