*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilos Generales*/

a{
    text-decoration: none;
}


/*Header*/

header{

}

/*Top Header*/

/*Main header*/

.main-header{
   padding: 8px 8px 0px 8px;
   background-color: #0C0C0C;
   min-height: 10vh;
}

.container{
    display: flex;
    min-height: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
    
    .container i{
    color:whitesmoke;
    font-size: 24px;
    }

  
    /*Navegador menu*/  
.menu{
    position: absolute;
    bottom: 0;
    left: -100vw;
    transition: all 500ms;
    width: 100vw;
    height: 90vh;
    background-color: #0C0C0C;
}

.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    padding: 0 1.5rem;
}

.main-menu a{ 
    width: 100%;
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center;
    line-height: 14vh;
    border-bottom: 0.5px #ccc solid;
}

.main-menu a:nth-child(5){ 
    border: none;
}

    /*Profile menu*/
.profile-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0C0C0C;
    height: 20%;
}

.btn-pmenu{
    background-color: #3A3636;
    text-align: center;
    line-height: 9vh;
}

/*Icono*/
.btn-pmenu i {
    color: whitesmoke;
    font-size: 1.5rem;
    padding-right: 3%;
}
/*Letra*/
.btn-pmenu span {
    color: whitesmoke;
    font-size: 1rem;
}

.profile-menu a:nth-child(1){
    border-bottom: 1px #0C0C0C solid ;
}



