<form>
    <div class="contenedor-titulo-filtros">
        <h4>FILTRAR POR</h4>
        <div class="borrar-cerrar">
            <button type="reset">Borrar todo</button>
        </div>
    </div>

    <div class="contenedor-filtros">
        <div class="filtro-sexo">
            <div class="titulo">
                <h4 class="menu-desplegable">SEXO</h4>
            </div>
            <div class="contenido oculto">
                <div>
                    <input type="checkbox" name="sexo" id="mujerE" value="f">
                    <label for="mujerE">MUJER</label>
                </div>
                <div>
                    <input type="checkbox" name="sexo" id="hombreE" value="m">
                    <label for="hombreE">HOMBRE</label>
                </div>  
            </div> 
        </div>
        <div class="filtro-talle">
            <div class="titulo">
                <h4 class="menu-desplegable">TALLE</h4>
            </div>
            <div class="contenido oculto">
                <div class="talles">
                    <button class="size selected"> 35 </button>
                    <button class="size"> 36 </button>
                    <button class="size"> 37 </button>
                    <button class="size"> 38 </button>
                    <button class="size"> 39 </button>
                    <button class="size"> 40 </button>
                    <button class="size"> 41 </button>
                    <button class="size"> 42 </button>
                    <button class="size"> 43 </button>
                </div>
            </div>
        </div>
        <div class="filtro-deporte">
            <div class="titulo">
                <h4 class="menu-desplegable">DEPORTE</h4>
            </div>
            <div class="contenido oculto">
                <div>
                    <input type="checkbox" name="deporte" id="tenisE" value="T">
                    <label for="tenisE">TENIS</label>
                </div>
                <div>
                    <input type="checkbox" name="deporte" id="footballE" value="F">
                    <label for="footballE">FOOTBALL</label>
                </div> 
                <div>
                    <input type="checkbox" name="deporte" id="runningE" value="R">
                    <label for="runningE">RUNNING</label>
                </div>
                <div>
                    <input type="checkbox" name="deporte" id="volleyE" value="V">
                    <label for="volleyE">VOLLEY</label>
                </div>
            </div>
        </div>
    </div>

    <button class="btn-aplicar-estilos" type="submit">
        APLICAR
    </button>
</form>