<div class="carousel-productos-destacados width-side-sticky">
    <div class="carousel-contenedor">
        <button aria-label="Anterior" class="carousel-anterior">
            <i class="fas fa-chevron-left"></i>
        </button>

        <div class="carousel-lista">
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla2.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
                </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla1.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
            </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla3.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
            </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla4.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
            </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla3.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
            </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla2.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
            </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla4.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                 </a>
            </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla3.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
            </div>
            <div class="carousel-elemento">
                <a href="/product/coleccion">
                    <img src="/img/zapatilla1.png" alt="">
                    <p>Zapatillas de mujer New Balance 850 v2</p>
                    <p>$9990</p>
                </a>
            </div>
        </div>

        <button aria-label="Siguiente" class="carousel-siguiente">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script><!--Librería carousel-->
<script src="script/carousel-destacados-insta.js"></script>