<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer para usar</title>
    <script src="https://kit.fontawesome.com/464db6ba33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <footer>
        <div class="categorias-footer">
            <h3>CONTACTANOS</h3>
            <i class="fas fa-envelope"></i>
        </div>
        <div class="separador"></div>
        <div class="categorias-footer">
            <h3>CATEGORÍAS</h3>
            <i class="fas fa-shopping-bag"></i>
        </div>
        <div class="separador"></div>
        <div class="categorias-footer">
            <h3>AYUDA</h3>
            <i class="fas fa-hands-helping"></i>
        </div>
        <div class="separador"></div>
        <div class="categorias-footer-redes">
            <h3 class="titulo-redes">REDES</h3>
            <div class="contenedor-redes">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            <p>todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>