<!DOCTYPE html>
<html lang="en">
<%- include('./parcials/head') %>
<body>

<%- include('./parcials/header') %>
<!-- Main Index -->
<main class="main-index">
    <div class="contenedor-imagenes-boton">
        <div class="imagenes">
            <img src="img/foto-home-principal01.webp" alt="zapatilla" class="imagen-principal">
            <img src="img/foto-home-principal02.webp" alt="zapatilla" class="imagenes-secundarias imagen-superior">
            <img src="img/foto-home-principal03.webp" alt="zapatilla" class="imagenes-secundarias imagen-inferior">
            <img src="img/gif-zapa.gif" alt="zapatilla" class="gifs">
            <img src="img/gif-zapa02.gif" alt="zapatilla" class="gifs">
        </div>
        <div class="contenedor-boton-shop-now-icono">
            <button class="boton-shop-now">
                <a href="/product/ofertas">SHOP NOW</a>
            </button>
            <i class="fas fa-bolt"></i>
        </div>  
    </div>
    <div class="contenedor-seccion-deporte">
        <article>
            <a href="/product/basketball">
                <img src="img/basketball.jpg" alt="aro de basket zapatillas basket">
                <button class="btn-article-deporte">BASKETBALL</button>
            </a>
        </article>
        <article>
            <a href="/product/football">
                <img src="img/football.jpg" alt="pelota de futbol zapatillas futbol">
                <button class="btn-article-deporte">FOOTBALL</button>
            </a>
        </article>
        <article>
            <a href="/product/tennis">
                <img src="img/tennis.jpg" alt="raqueta zapatillas de tenis">
                <button class="btn-article-deporte">TENNIS</button>
             </a>
        </article>
        <article>
            <a href="/product/running">
                <img src="img/running.jpg" alt="zapatillas de running">
                <button class="btn-article-deporte">RUNNING</button>
            </a>
        </article>
    </div>


    <h4 class="titulo-productos-destacados"> PRODUCTOS DESTACADOS</h4>
    
    <%- include('./parcials/slider') %>

    <div class="contenedor-genero">
        <div class="mujer">
            <a href="/product/mujeres">
                <img src="img/mujer.webp" alt="">
                <button class="btn-genero">MUJERES</button>
            </a>
            </div>

            <div class="hombre">
            <a href="/product/hombres">
                <img src="img/hombre.webp" alt="">
                <button class="btn-genero">HOMBRES</button>
            </a>    
        </div>
    </div>

</main>

 <%- include('./parcials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script><!--Librería carousel-->
<script src="script/carousel-destacados-insta.js"></script>
<script src="script/script.js"></script>
<script src="script/footer.js"></script>

</body>
</html>
