<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<!-- Header -->
<header>
    <!--Top Header-->
<div class="top-header">
    <div class="container-top">
        <div class="right-top-header">
            <a href="#">Mi cuenta</a>
            <a class="border-line" href="#">Mi lista de deseos</a>
            <a class="border-line" href="#">Iniciar sesión</a>
        </div>
    </div>    
</div>

    <!--Main Header-->
<div class="main-header">
    <div class="container">
        <div id="btn-menu" class="btn-menu"><i class="fas fa-bars"></i></div>
        <div class="logo"> <img src="../img/LogoyTipografia.svg" alt="icono-thunder-shoes"> </div>
        <div class="btn-cart"><i class="fas fa-shopping-cart"></i></div>
    </div>
    <div class="container-desktop">
        <div class="logo-completo">
            <img src="../img/LogoyTipografia.svg" alt="Logo y tipo">
        </div>
        <nav class="menu-desktop">
            <div class="main-menudesktop">
                <a href="#">Hombres</a>
                <a href="#">Mujeres</a>
                <a href="#">Colección</a>
                <a href="#">Ofertas</a>
            </div>
        </nav>
        <div class="right-mainheader">
            <div class="search-desktop">
                <input type="text" name="search" placeholder="Buscar productos etc etc etc">
                <i class='fas fa-search'></i>
            </div>    
            <div class="btn-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>

</div>
</header>


<!--Menu-->
<nav id="menu" class="menu">
    <div class="main-menu">
        <a href="#">Hombres</a>
        <a href="#">Mujeres</a>
        <a href="#">Colección</a>
        <a href="#">Oferta</a>
        <a href="#">Buscar</a>
    </div>
    <div class="profile-menu">
        <a class="btn-pmenu" href="#">
            <i class='fas fa-heart'></i>
            <span>Mi lista de deseos</span>
        </a> 
        <a class="btn-pmenu" href="#">
            <i class="fas fa-user-circle"></i>
            <span>Mi cuenta - Iniciar sesión</span>
        </a>  
    </div>
</nav>

<script src="script/script.js"></script>


</body>
</html>
