<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<!-- Header -->
<header>
    <!--Top Header-->
<div class="top-header">
    <div class="container-top">
        <div class="right-top-header">
            <a href="#">Mi cuenta</a>
            <a class="border-line" href="#">Mi lista de deseos</a>
            <a class="border-line" href="#">Iniciar sesión</a>
        </div>
    </div>    
</div>

    <!--Main Header-->
<div class="main-header">
    <div class="container">
        <div id="btn-menu" class="btn-menu"><i class="fas fa-bars"></i></div>
        <div class="logo"> <img src="../img/LogoyTipografia.svg" alt="icono-thunder-shoes"> </div>
        <div class="btn-cart"><i class="fas fa-shopping-cart"></i></div>
    </div>
    <div class="container-desktop">
        <div class="logo-completo">
            <img src="../img/LogoyTipografia.svg" alt="Logo y tipo">
        </div>
        <nav class="menu-desktop">
            <div class="main-menudesktop">
                <a href="#">Hombres</a>
                <a href="#">Mujeres</a>
                <a href="#">Colección</a>
                <a href="#">Ofertas</a>
            </div>
        </nav>
        <div class="right-mainheader">
            <div class="search-desktop">
                <input type="text" name="search" placeholder="Buscar productos etc etc etc">
                <i class='fas fa-search'></i>
            </div>    
            <div class="btn-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>

</div>
</header>


<!--Menu-->
<nav id="menu" class="menu">
    <div class="main-menu">
        <a href="#">Hombres</a>
        <a href="#">Mujeres</a>
        <a href="#">Colección</a>
        <a href="#">Oferta</a>
        <a href="#">Buscar</a>
    </div>
    <div class="profile-menu">
        <a class="btn-pmenu" href="#">
            <i class='fas fa-heart'></i>
            <span>Mi lista de deseos</span>
        </a> 
        <a class="btn-pmenu" href="#">
            <i class="fas fa-user-circle"></i>
            <span>Mi cuenta - Iniciar sesión</span>
        </a>  
    </div>
</nav>

<main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nulla natus architecto odio voluptatum autem repellendus in, obcaecati laborum nesciunt quae ut quia non hic iure expedita. Vitae, molestiae ea!
    Consequatur doloremque facilis exercitationem culpa neque aut repellendus consequuntur id nesciunt quae perferendis, nisi sint officiis veniam dolore aperiam mollitia laudantium dolor temporibus labore blanditiis? Ipsum adipisci sapiente similique molestias?
    Tempora, alias vel. Accusantium obcaecati saepe doloremque possimus assumenda omnis. Quia earum aliquam eos voluptatem fugiat eveniet quaerat suscipit enim dicta similique, cupiditate id vel dolor quae recusandae quo obcaecati?
    Molestias sed culpa qui, optio reprehenderit id debitis quod soluta aperiam cumque autem quia harum praesentium, nesciunt quaerat voluptatibus quae dolores vitae labore tempore minima. Eligendi ipsam dolore cumque maxime?
    Ipsum, consectetur facere quaerat minima modi soluta ex repellat ratione maxime tenetur explicabo consequuntur! Temporibus fugiat illum maxime inventore, similique consectetur ex eos possimus mollitia odit ipsam autem, quod nemo!
    Eaque laudantium optio hic, voluptatem enim aut dolore architecto quos possimus totam facere repudiandae unde dolorem voluptate reiciendis rem molestiae delectus, expedita libero placeat esse accusantium non quasi. Deserunt, ad.
    Blanditiis, ullam cupiditate tempora rem esse accusamus in beatae fugit ratione! Similique sit ex nesciunt! Repellendus sunt, ea repellat dolorum ut ratione odit nihil placeat qui voluptatum eveniet aperiam incidunt.
    Velit officiis tempore beatae rem facilis a assumenda quibusdam necessitatibus similique, voluptate, voluptatibus hic temporibus minus excepturi sint quasi. Quam enim ipsam reprehenderit cum cupiditate quo nobis minus eum! Earum.
    Blanditiis consequatur, repudiandae sunt, est, unde possimus veniam esse ab obcaecati in velit odit consequuntur. Earum assumenda consequuntur dolor, corporis itaque fugit, fuga, nulla ipsum magnam unde consequatur quo. Laborum.
    Sequi neque facilis quo corporis est. Fugit, error. Qui, vitae praesentium beatae voluptates dolores culpa, explicabo cum inventore unde iusto placeat quidem ullam libero, temporibus architecto cumque tenetur. Quibusdam, numquam.
</main>

<footer>
    <div class="contenedor-secciones">
        <div class="content">
            <div class="categorias-footer">
                <h3>CONTACTANOS</h3>
                <i class="fas fa-envelope desplegable"></i>
            </div>
            <p>Contenido de contacto Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque deleniti velit at ipsam? Saepe aperiam id enim cum earum nesciunt temporibus quos eveniet qui eaque expedita tempora sed, provident officia!</p>
        </div>
        
        <div class="content">
            <div class="categorias-footer">
                <h3>CATEGORÍAS</h3>
                <i class="fas fa-shopping-bag desplegable"></i>
            </div>
            <p>Contenido de contacto Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corrupti pariatur cum iure odit eveniet ex consequatur minus! Deserunt voluptatibus, corporis nulla praesentium molestias cupiditate vero enim porro quidem hic?</p>                 
        </div>

        <div class="content">
            <div class="categorias-footer ayuda">
                <h3>AYUDA</h3>
                <i class="fas fa-hands-helping desplegable"></i>
            </div>
            <p>Contenido de contacto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut qui fugit ipsum quaerat sed optio provident accusamus, odio ex eos, assumenda impedit fugiat laudantium ea sint debitis architecto quo? Vitae!</p>
        </div>
        
    </div>
    <div class="contenedor-redes">
        <h3 class="titulo-redes">REDES</h3>
        <div class="contenedor-iconos">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
        <p>todos los derechos reservados</p>
    </div>
</footer>


<script src="script/script.js"></script>
<script src="script/footer.js"></script>

</body>
</html>
