<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include('./parcials/header') %>
    
<!--Banner-->   
<div class="banner-cart">
    <span>MI CARRITO</span>
    <img src="../img/banner-hombre-logo.jpg" alt="Banner carrito">
</div>

<!--Main-->
<main class="main-product-cart">

    <h3>PRODUCTOS AGREGADOS</h3>
    <div class="resumen-carrito">
        <div class="item-container">

            <div class="item-cart">
                <div class="item-detail-container">   
                    <img src="../img/product.jpg" alt="">
                    <div class="item-detail">
                        <span class="item-name">Nombre Zapatilla</span> 
                        <span class="item-size">Talle X</span>  
                        <span class="item-model">Modelo/cod xx</span>
                    </div>
                </div> 
            <div class="item-value">
                    <div class="precio-item"> 
                        <span class="item-price">Precio</span>
                        <span> $4500 </span>  
                    </div>
                    <div class="cantidad-item"> 
                        <span> <input type="number" name="cantidad" id="cantidad" value="2"></span>
                    </div>
                    <div class="subtotal-item"> 
                        <span class="item-subtotal">Subtotal</span>
                        <span> $9000</span>  
                    </div>
            </div>
        </div>
        <div class="delete-item">
            <i class="far fa-trash-alt"></i>
        </div>
    </div>
    
    <div class="item-container">

        <div class="item-cart">
            <div class="item-detail-container">   
                <img src="../img/product.jpg" alt="">
                <div class="item-detail">
                    <span class="item-name">Nombre Zapatilla</span> 
                    <span class="item-size">Talle X</span>  
                    <span class="item-model">Modelo/cod xx</span>
                </div>
            </div> 
            <div class="item-value">
                <div class="precio-item"> 
                    <span class="item-price">Precio</span>
                    <span> $4500 </span>  
                </div>
                <div class="cantidad-item"> 
                    <span> <input type="number" name="cantidad" id="cantidad" value="2"></span>
                </div>
                <div class="subtotal-item"> 
                    <span class="item-subtotal">Subtotal</span>
                    <span> $9000</span>  
                </div>
            </div>
        </div>
        <div class="delete-item">
            <i class="far fa-trash-alt"></i>
        </div>
    </div>

    <div class="item-container">

        <div class="item-cart">
            <div class="item-detail-container">   
                <img src="../img/product.jpg" alt="">
                <div class="item-detail">
                    <span class="item-name">Nombre Zapatilla</span> 
                    <span class="item-size">Talle X</span>  
                    <span class="item-model">Modelo/cod xx</span>
                </div>
            </div> 
            <div class="item-value">
                <div class="precio-item"> 
                    <span class="item-price">Precio</span>
                    <span> $4500 </span>  
                </div>
                <div class="cantidad-item"> 
                    <span> <input type="number" name="cantidad" id="cantidad" value="2"></span>
                </div>
                <div class="subtotal-item"> 
                    <span class="item-subtotal">Subtotal</span>
                    <span> $9000</span>  
                </div>
            </div>
        </div>
        <div class="delete-item">
            <i class="far fa-trash-alt"></i>
        </div>
    </div>

    <div class="item-container">
        <div class="item-cart">
            <div class="item-detail-container">   
                <img src="../img/product.jpg" alt="">
                <div class="item-detail">
                    <span class="item-name">Nombre Zapatilla</span> 
                    <span class="item-size">Talle X</span>  
                    <span class="item-model">Modelo/cod xx</span>
                </div>
            </div> 
            <div class="item-value">
                <div class="precio-item"> 
                    <span class="item-price">Precio</span>
                    <span> $4500 </span>  
                </div>
                <div class="cantidad-item"> 
                    <span> <input type="number" name="cantidad" id="cantidad" value="2"></span>
                </div>
                <div class="subtotal-item"> 
                    <span class="item-subtotal">Subtotal</span>
                    <span> $9000</span>  
                </div>
            </div>
        </div>
        <div class="delete-item">
            <i class="far fa-trash-alt"></i>
        </div>
    </div>

    <div class="checkout-container">
        <h3>RESUMEN</h3>
        <div>
            <div class="envio-gratis">
                <i class="fas fa-truck"></i>
                <span>Envío gratis a todo el país.</span>
            </div>

            <div class="ckeckout-content">
                <div class="subtotal">
                    <span>Subtotal</span>
                    <span>$9000</span>
                </div>
                <div class="impuestos">
                    <span>Impuestos</span>
                    <span>$0</span>
                </div>
                <div class="total">
                    <span>Total</span>
                    <span>$9000</span>
                </div>
            </div>
            
            <div class="btn-confirm">
                <button>PAGAR</button>

            </div>
        </div>
    </div>



</main>







<%- include('./parcials/footer') %>


<script src="/script/script.js"></script>
<script src="/script/footer.js"></script>

</body>
</html>
