<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/464db6ba33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<!--Top Header-->
<div class="top-header">
    <div class="container-top">
        <div class="right-top-header">
            <a href="#">Mi cuenta</a>
            <a class="border-line" href="#">Mi lista de deseos</a>
            <a class="border-line" href="#">Iniciar sesión</a>
        </div>
    </div>    
</div>

<!--Main Header-->
<header class="main-header">
    <div class="container">
        <div id="btn-menu" class="btn-menu"><i class="fas fa-bars"></i></div>
        <div class="logo"> <img src="../img/IconoThunderShoes.svg" alt="icono-thunder-shoes"> </div>
        <div class="btn-cart">
            <i class="fas fa-shopping-cart" onclick="toogleSummary()"></i>
        </div>
    </div>
    <div class="container-desktop">
        <div class="logo-completo">
            <img src="../img/LogoyTipografia.svg" alt="Logo y tipo">
        </div>
        <nav class="menu-desktop">
            <div class="main-menudesktop">
                <a href="#">Hombres</a>
                <a href="#">Mujeres</a>
                <a href="#">Colección</a>
                <a href="#">Ofertas</a>
            </div>
        </nav>
        <div class="right-mainheader">
            <div class="search-desktop">
                <input type="text" name="search" placeholder="Buscar...">
                <i class='fas fa-search'></i>
            </div>    
            <div class="btn-cart" onclick="toogleSummary()">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>

</header>

<!--Menu-->
<nav id="menu" class="menu" style="left: -100vw;">
    <div class="main-menu">
        <a href="#">Hombres</a>
        <a href="#">Mujeres</a>
        <a href="#">Colección</a>
        <a href="#">Oferta</a>
        <a href="#">Buscar</a>
    </div>
    <div class="profile-menu">
        <a class="btn-pmenu" href="#">
            <i class='fas fa-heart'></i>
            <span>Mi lista de deseos</span>
        </a> 
        <a class="btn-pmenu" href="#">
            <i class="fas fa-user-circle"></i>
            <span>Mi cuenta - Iniciar sesión</span>
        </a>  
    </div>
</nav>
  
<main class="main-shop">
    <div class="bannerSection">
        <span class="ubicacion"> ubicación en cuanto al sitio</span>
        <img class="bannerShop" alt="banner" src="img/banner-hombre-logo.jpg">
    </div>
    
    <div class="filtrar-ordenar">
        <div class="filtrar">
            <span>FILTRAR POR</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="ordenar">
            <span>ORDENAR POR</span>
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>

    <div class="filtros oculto">
        <form>
            <div class="contenedor-titulo-filtros">
                <h4>FILTRAR POR</h4>
                <div class="borrar-cerrar">
                    <button type="reset">Borrar todo</button>
                    <div class="cerrar"><i class="fas fa-times" aria-hidden="true"></i></div>
                </div>
            </div>

            <div class="contenedor-filtros">
                <div class="filtro-sexo">
                    <div class="titulo">
                        <h4 class="menu-desplegable">SEXO</h4>
                        <i class="fas fa-chevron-down menu-desplegable"></i>
                    </div>
                    <div class="contenido oculto">
                        <div>
                            <input type="checkbox" name="sexo" id="mujer" value="f">
                            <label for="mujer">MUJER</label>
                        </div>
                        <div>
                            <input type="checkbox" name="sexo" id="hombre" value="m">
                            <label for="hombre">HOMBRE</label>
                        </div>  
                    </div> 
                </div>
                <div class="filtro-talle">
                    <div class="titulo">
                        <h4 class="menu-desplegable">TALLE</h4>
                        <i class="fas fa-chevron-down menu-desplegable"></i>
                    </div>
                    <div class="contenido oculto">
                        <div class="talles">
                            <button class="size selected"> 35 </button>
                            <button class="size"> 36 </button>
                            <button class="size"> 37 </button>
                            <button class="size"> 38 </button>
                            <button class="size"> 39 </button>
                            <button class="size"> 40 </button>
                            <button class="size"> 41 </button>
                            <button class="size"> 42 </button>
                            <button class="size"> 43 </button>
                        </div>
                    </div>
                </div>
                <div class="filtro-deporte">
                    <div class="titulo">
                        <h4 class="menu-desplegable">DEPORTE</h4>
                        <i class="fas fa-chevron-down menu-desplegable"></i>
                    </div>
                    <div class="contenido oculto">
                        <div>
                            <input type="checkbox" name="deporte" id="tenis" value="T">
                            <label for="tenis">TENIS</label>
                        </div>
                        <div>
                            <input type="checkbox" name="deporte" id="football" value="F">
                            <label for="football">FOOTBALL</label>
                        </div> 
                        <div>
                            <input type="checkbox" name="deporte" id="running" value="R">
                            <label for="running">RUNNING</label>
                        </div>
                        <div>
                            <input type="checkbox" name="deporte" id="volley" value="V">
                            <label for="volley">VOLLEY</label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn-aplicar-estilos" type="submit">
                APLICAR
            </button>
        </form>
    </div>

    <div class="ordenar-por oculto">
        <div class="contenedor-titulo-ordenar">
            <h4>ORDENAR POR</h4>
            <div class="borrar-cerrar">
                <div class="cerrar"><i class="fas fa-times" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="contenido">
            <button>PRECIO(DE MAYOR A MENOR)</button>
            <button>PRECIO(DE MENOR A MAYOR)</button>
            <button>ORDEN ALFABÉTICO</button>
        </div>
    </div>

    <div class="contenedor-vidriera-filtros">
        <form>
            <div class="contenedor-titulo-filtros">
                <h4>FILTRAR POR</h4>
                <div class="borrar-cerrar">
                    <button type="reset">Borrar todo</button>
                </div>
            </div>

            <div class="contenedor-filtros">
                <div class="filtro-sexo">
                    <div class="titulo">
                        <h4 class="menu-desplegable">SEXO</h4>
                        <i class="fas fa-chevron-down menu-desplegable"></i>
                    </div>
                    <div class="contenido oculto">
                        <div>
                            <input type="checkbox" name="sexo" id="mujer" value="f">
                            <label for="mujer">MUJER</label>
                        </div>
                        <div>
                            <input type="checkbox" name="sexo" id="hombre" value="m">
                            <label for="hombre">HOMBRE</label>
                        </div>  
                    </div> 
                </div>
                <div class="filtro-talle">
                    <div class="titulo">
                        <h4 class="menu-desplegable">TALLE</h4>
                        <i class="fas fa-chevron-down menu-desplegable"></i>
                    </div>
                    <div class="contenido oculto">
                        <div class="talles">
                            <button class="size selected"> 35 </button>
                            <button class="size"> 36 </button>
                            <button class="size"> 37 </button>
                            <button class="size"> 38 </button>
                            <button class="size"> 39 </button>
                            <button class="size"> 40 </button>
                            <button class="size"> 41 </button>
                            <button class="size"> 42 </button>
                            <button class="size"> 43 </button>
                        </div>
                    </div>
                </div>
                <div class="filtro-deporte">
                    <div class="titulo">
                        <h4 class="menu-desplegable">DEPORTE</h4>
                        <i class="fas fa-chevron-down menu-desplegable"></i>
                    </div>
                    <div class="contenido oculto">
                        <div>
                            <input type="checkbox" name="deporte" id="tenis" value="T">
                            <label for="tenis">TENIS</label>
                        </div>
                        <div>
                            <input type="checkbox" name="deporte" id="football" value="F">
                            <label for="football">FOOTBALL</label>
                        </div> 
                        <div>
                            <input type="checkbox" name="deporte" id="running" value="R">
                            <label for="running">RUNNING</label>
                        </div>
                        <div>
                            <input type="checkbox" name="deporte" id="volley" value="V">
                            <label for="volley">VOLLEY</label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn-aplicar-estilos" type="submit">
                APLICAR
            </button>
        </form>
        <div class="vidrieraShop">
            <div class="productoVidriera">
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p>$2500</p>
                </div>   
            </div> 
            <div class="productoVidriera" >
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p class="descripcion"> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p class="precio">$2500</p>
                </div>   
    
            </div>
            <div class="productoVidriera">
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p class="descripcion"> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p class="precio">$2500</p>
                </div>   
            </div>
            <div class="productoVidriera">
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p class="descripcion"> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p class="precio">$2500</p>
                </div>   
            </div>
            <div class="productoVidriera">
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p class="descripcion"> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p class="precio">$2500</p>
                </div>   
            </div>
            <div class="productoVidriera">
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p class="descripcion"> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p class="precio">$2500</p>
                </div>    
            </div>
            <div class="productoVidriera">
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p class="descripcion"> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p class="precio">$2500</p>
                </div>    
            </div>
            <div class="productoVidriera">
                <img alt="zapatilla" src="img/product.jpg">
                <div class="contenedor-boton-shop-now-icono">
                    <button class="boton-shop-now">
                        Agregar al carrito
                    </button>
                    <i class="fas fa-bolt"></i>
                </div>  
                <div class="descripcion"> 
                    <i class="fas fa-tags"></i>
                    <p class="descripcion"> Zapatillas para running Mujer</p>
                </div>
                 <div class="precio">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p class="precio">$2500</p>
                </div>    
            </div>
        </div>
    </div>
    
</main>


   
<footer>
    <div class="contenedor-secciones"> 
        <div class="content noborderleft"> 
            <div class="categorias-footer"> 
                <h3>CONTACTANOS</h3> 
                <i class="fas fa-envelope desplegable"></i> 
                <i class="fas fa-angle-down desplegable"></i> 
            </div> 
            <p>Contenido de contacto Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque deleniti velit at ipsam? Saepe aperiam id enim cum earum nesciunt temporibus quos eveniet qui eaque expedita tempora sed, provident officia!</p> 
        </div> 

        <div class="content"> 
            <div class="categorias-footer"> 
                <h3>CATEGORÍAS</h3> 
                <i class="fas fa-shopping-bag desplegable"></i> 
                <i class="fas fa-angle-down desplegable"></i> 
            </div> 
            <p>Contenido de contacto Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corrupti pariatur cum iure odit eveniet ex consequatur minus! Deserunt voluptatibus, corporis nulla praesentium molestias cupiditate vero enim porro quidem hic?</p>                  
        </div> 

        <div class="content"> 
            <div class="categorias-footer ayuda"> 
                <h3>AYUDA</h3> 
                <i class="fas fa-hands-helping desplegable"></i> 
                <i class="fas fa-angle-down desplegable"></i> 
            </div> 
            <p>Contenido de contacto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut qui fugit ipsum quaerat sed optio provident accusamus, odio ex eos, assumenda impedit fugiat laudantium ea sint debitis architecto quo? Vitae!</p> 
        </div> 

    </div> 
    <div class="contenedor-redes">
        <h3 class="titulo-redes">REDES</h3>
        <div class="contenedor-iconos">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
        <p>todos los derechos reservados</p>
    </div>
</footer>

    <script src="script/footer.js"></script>
    <script src="script/shop.js"></script>
</body>
</html>